<ul> Posted: "{{post.content}}" at {{post.created_at}} </ul>
{{#if isCorrectUser}}
  {{#link-to 'users.show.posts.edit' currentUser.user.name post.id}}Edit{{/link-to}}
  <a href="#" {{action 'deletePost'}}>Delete</a>
{{/if}}