<h3>Create post</h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
   	 {{post-form post=model triggerSave=(action "saveFromForm") button='Publish' errorMessage=errorMessage}}
   </div>
</div>
